<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Detail Data Portal</h1>
      <h2 class="project-tagline">A publicly-accessible data catalogue providing access to datasets relevant to Northern Ireland</h2>
      <a href="https://github.com/NICVA/data-portal" class="btn">View on GitHub</a>
      <a href="/data-portal" class="btn">Home</a>
      <a href="FAQ.md" class="btn">FAQ</a>
      <a href="/blog" class="btn">Blog</a>
    </section>
    
    <section class="main-content">
    
      {{content}}
    
          <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/NICVA/data-portal">Detail Data Portal</a> is maintained by <a href="https://github.com/NICVA">NICVA</a>.</span>

        <span class="site-footer-credits">This uses the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
      </footer>

    </section>

  
  </body>
</html>
